<div id="headerBar"></div>

<div class="container" style="margin-top:20px">
	<h1 style="color:#9838B0;font-size:42px">trackly</h1>
	<br/>
</div>

<div class="container" style="margin-top:30px;margin-left:150px;margin-bottom:100px">

	<h1 style="font-size:42px">Couldn't find that song, bih.</h1>

	<br/>
	<a href="<%= searches_index_path %>"><h3> Back </h3></a>

</div>